
.depicter-revert .depicter-9-element-50{
	background-color:transparent;
}
.depicter-9-element-50 .depicter-bullet-item{
	background-color:#AAAAAA;
	border-radius:3px 3px 3px 3px ;
	margin-right:5px;
	width:56px;
	height:4px;
}
.depicter-9-element-50 .depicter-bullet-item:hover {
	background-color:#000000;
}
.depicter-9-element-50 .depicter-bullet-item.depicter-bullet-active{
	background-color:#FFFFFF;
}
.depicter-9-element-50 .depicter-bullet-item.depicter-bullet-active:hover {
	background-color:#000000;
}
.depicter-revert .depicter-9-element-51{
	background-color:transparent;
}
.depicter-revert .depicter-9-element-51:not(.depicter-hover-off):hover {
	background-color:transparent;
}
.depicter-9-element-51 .depicter-arrow-icon{
	fill:#FFFFFF;
}
.depicter-9-element-51:not(.depicter-hover-off):hover .depicter-arrow-icon{
	fill:#72C08E;
}
.depicter-revert .depicter-9-element-52{
	background-color:transparent;
}
.depicter-revert .depicter-9-element-52:not(.depicter-hover-off):hover {
	background-color:transparent;
}
.depicter-9-element-52 .depicter-arrow-icon{
	fill:#FFFFFF;
}
.depicter-9-element-52:not(.depicter-hover-off):hover .depicter-arrow-icon{
	fill:#72C08E;
}
.depicter-revert .depicter-9-element-105{
	transform:rotate(45deg);
}
.depicter-9-element-105 svg, .depicter-9-element-105 path{
	fill:#1E7C4E;
	stroke:#0E5C48;
}
.depicter-revert .depicter-9-element-104{
	transform:rotate(45deg);
}
.depicter-9-element-104 svg, .depicter-9-element-104 path{
	fill:#1E7C4E;
	stroke:#0E5C48;
}
.depicter-revert .depicter-9-element-103{
	transform:rotate(45deg);
}
.depicter-9-element-103 svg, .depicter-9-element-103 path{
	fill:#1E7C4E;
	stroke:#0E5C48;
}
.depicter-revert .depicter-9-element-102{
	transform:rotate(45deg);
}
.depicter-9-element-102 svg, .depicter-9-element-102 path{
	fill:#FCB538;
	stroke:#0E5C48;
}
.depicter-revert .depicter-9-element-25{
	background-color:rgba(17, 105, 82, 0.65);
	border-radius:50%;
}
.depicter-revert .depicter-9-element-55{
	opacity:0.98;
	padding:0px 0px 0px 0px;
	font-size:18px;
	text-align:center;
	color:#FFFFFF;
	font-family:"Helvetica";
	font-weight:400;
	letter-spacing:2px;
	background-color:transparent;
	border-width:0px 0px 1px 0px;
	border-style:solid;
	border-color:#FFFFFF;
}
.depicter-revert .depicter-9-element-101{
	transform:rotate(45deg);
}
.depicter-9-element-101 svg, .depicter-9-element-101 path{
	fill:#FCB538;
	stroke:#0E5C48;
}
.depicter-revert .depicter-9-element-100{
	transform:rotate(45deg);
}
.depicter-9-element-100 svg, .depicter-9-element-100 path{
	fill:#FCB538;
	stroke:#0E5C48;
}
.depicter-revert .depicter-9-element-54{
	transform:rotate(45deg);
}
.depicter-9-element-54 svg, .depicter-9-element-54 path{
	fill:#FCB538;
	stroke:#0E5C48;
}
.depicter-revert .depicter-9-element-57{
	text-shadow:0px 0px 0px #000000;
	opacity:0.99;
	font-size:90px;
	color:#0E5C48;
	font-family:"Helvetica";
	font-weight:700;
	line-height:120%;
	transform:rotate(90deg);
	background-color:transparent;
}
.depicter-revert .depicter-9-element-4{
	font-size:15px;
	color:#FFFFFF;
	font-family:"Helvetica";
	font-weight:400;
	line-height:120%;
	text-transform:uppercase;
	letter-spacing:9px;
	transform:rotate(90deg);
	background-color:transparent;
}
.depicter-revert .depicter-9-element-30{
	background-color:#116952;
	border-radius:50%;
}
.depicter-revert .depicter-9-element-29{
	background-color:#116952;
	border-radius:50%;
}
.depicter-revert .depicter-9-element-28{
	background-color:#116952;
	border-radius:50%;
}
.depicter-revert .depicter-9-element-3{
	font-size:77px;
	text-align:left;
	color:#FFFFFF;
	font-family:"Helvetica";
	font-weight:400;
	line-height:102%;
	letter-spacing:3px;
	background-color:transparent;
}
.depicter-revert .depicter-9-element-53{
	background-color:#116952;
	border-radius:50%;
}
.depicter-revert .depicter-9-section-1 .depicter-section-background{
	background-color:#0E5C48;
}
.depicter-revert .depicter-9-element-160{
	transform:rotate(45deg);
}
.depicter-9-element-160 svg, .depicter-9-element-160 path{
	fill:#1E7C4E;
	stroke:#0E5C48;
}
.depicter-revert .depicter-9-element-159{
	transform:rotate(45deg);
}
.depicter-9-element-159 svg, .depicter-9-element-159 path{
	fill:#1E7C4E;
	stroke:#0E5C48;
}
.depicter-revert .depicter-9-element-158{
	transform:rotate(45deg);
}
.depicter-9-element-158 svg, .depicter-9-element-158 path{
	fill:#1E7C4E;
	stroke:#0E5C48;
}
.depicter-revert .depicter-9-element-157{
	transform:rotate(45deg);
}
.depicter-9-element-157 svg, .depicter-9-element-157 path{
	fill:#FCB538;
	stroke:#0E5C48;
}
.depicter-revert .depicter-9-element-147{
	background-color:rgba(17, 105, 82, 0.65);
	border-radius:50%;
}
.depicter-revert .depicter-9-element-153{
	opacity:0.98;
	padding:0px 0px 0px 0px;
	font-size:18px;
	text-align:center;
	color:#FFFFFF;
	font-family:"Helvetica";
	font-weight:400;
	letter-spacing:2px;
	background-color:transparent;
	border-width:0px 0px 1px 0px;
	border-style:solid;
	border-color:#FFFFFF;
}
.depicter-revert .depicter-9-element-156{
	transform:rotate(45deg);
}
.depicter-9-element-156 svg, .depicter-9-element-156 path{
	fill:#FCB538;
	stroke:#0E5C48;
}
.depicter-revert .depicter-9-element-155{
	transform:rotate(45deg);
}
.depicter-9-element-155 svg, .depicter-9-element-155 path{
	fill:#FCB538;
	stroke:#0E5C48;
}
.depicter-revert .depicter-9-element-152{
	transform:rotate(45deg);
}
.depicter-9-element-152 svg, .depicter-9-element-152 path{
	fill:#FCB538;
	stroke:#0E5C48;
}
.depicter-revert .depicter-9-element-154{
	text-shadow:0px 0px 0px #000000;
	opacity:0.99;
	font-size:90px;
	color:#0E5C48;
	font-family:"Helvetica";
	font-weight:700;
	line-height:120%;
	transform:rotate(90deg);
	background-color:transparent;
}
.depicter-revert .depicter-9-element-146{
	font-size:15px;
	color:#FFFFFF;
	font-family:"Helvetica";
	font-weight:400;
	line-height:120%;
	text-transform:uppercase;
	letter-spacing:9px;
	transform:rotate(90deg);
	background-color:transparent;
}
.depicter-revert .depicter-9-element-150{
	background-color:#116952;
	border-radius:50%;
}
.depicter-revert .depicter-9-element-149{
	background-color:#116952;
	border-radius:50%;
}
.depicter-revert .depicter-9-element-148{
	background-color:#116952;
	border-radius:50%;
}
.depicter-revert .depicter-9-element-145{
	font-size:77px;
	text-align:left;
	color:#FFFFFF;
	font-family:"Helvetica";
	font-weight:400;
	line-height:102%;
	letter-spacing:3px;
	background-color:transparent;
}
.depicter-revert .depicter-9-element-151{
	background-color:#116952;
	border-radius:50%;
}
.depicter-revert .depicter-9-section-143 .depicter-section-background{
	background-color:#0E5C48;
}
.depicter-revert .depicter-9-element-178{
	transform:rotate(45deg);
}
.depicter-9-element-178 svg, .depicter-9-element-178 path{
	fill:#1E7C4E;
	stroke:#0E5C48;
}
.depicter-revert .depicter-9-element-177{
	transform:rotate(45deg);
}
.depicter-9-element-177 svg, .depicter-9-element-177 path{
	fill:#1E7C4E;
	stroke:#0E5C48;
}
.depicter-revert .depicter-9-element-176{
	transform:rotate(45deg);
}
.depicter-9-element-176 svg, .depicter-9-element-176 path{
	fill:#1E7C4E;
	stroke:#0E5C48;
}
.depicter-revert .depicter-9-element-175{
	transform:rotate(45deg);
}
.depicter-9-element-175 svg, .depicter-9-element-175 path{
	fill:#FCB538;
	stroke:#0E5C48;
}
.depicter-revert .depicter-9-element-165{
	background-color:rgba(17, 105, 82, 0.65);
	border-radius:50%;
}
.depicter-revert .depicter-9-element-171{
	opacity:0.98;
	padding:0px 0px 0px 0px;
	font-size:18px;
	text-align:center;
	color:#FFFFFF;
	font-family:"Helvetica";
	font-weight:400;
	letter-spacing:2px;
	background-color:transparent;
	border-width:0px 0px 1px 0px;
	border-style:solid;
	border-color:#FFFFFF;
}
.depicter-revert .depicter-9-element-174{
	transform:rotate(45deg);
}
.depicter-9-element-174 svg, .depicter-9-element-174 path{
	fill:#FCB538;
	stroke:#0E5C48;
}
.depicter-revert .depicter-9-element-173{
	transform:rotate(45deg);
}
.depicter-9-element-173 svg, .depicter-9-element-173 path{
	fill:#FCB538;
	stroke:#0E5C48;
}
.depicter-revert .depicter-9-element-170{
	transform:rotate(45deg);
}
.depicter-9-element-170 svg, .depicter-9-element-170 path{
	fill:#FCB538;
	stroke:#0E5C48;
}
.depicter-revert .depicter-9-element-172{
	text-shadow:0px 0px 0px #000000;
	opacity:0.99;
	font-size:90px;
	color:#0E5C48;
	font-family:"Helvetica";
	font-weight:700;
	line-height:120%;
	transform:rotate(90deg);
	background-color:transparent;
}
.depicter-revert .depicter-9-element-164{
	font-size:15px;
	color:#FFFFFF;
	font-family:"Helvetica";
	font-weight:400;
	line-height:120%;
	text-transform:uppercase;
	letter-spacing:9px;
	transform:rotate(90deg);
	background-color:transparent;
}
.depicter-revert .depicter-9-element-168{
	background-color:#116952;
	border-radius:50%;
}
.depicter-revert .depicter-9-element-167{
	background-color:#116952;
	border-radius:50%;
}
.depicter-revert .depicter-9-element-166{
	background-color:#116952;
	border-radius:50%;
}
.depicter-revert .depicter-9-element-163{
	font-size:77px;
	text-align:left;
	color:#FFFFFF;
	font-family:"Helvetica";
	font-weight:400;
	line-height:102%;
	letter-spacing:3px;
	background-color:transparent;
}
.depicter-revert .depicter-9-element-169{
	background-color:#116952;
	border-radius:50%;
}
.depicter-revert .depicter-9-section-161 .depicter-section-background{
	background-color:#0E5C48;
}

/***** Tablet *****/
@media screen and (max-width: 1024px){

.depicter-revert .depicter-9-element-4{
	font-size:14px;
	color:#3B61F4;
	font-family:"Poppins";
	font-weight:500;
	line-height:120%;
	text-transform:uppercase;
	background-color:transparent;
}
.depicter-revert .depicter-9-element-3{
	font-size:42px;
	color:#000000;
	font-family:"Poppins";
	font-weight:700;
	line-height:120%;
	letter-spacing:-2px;
	background-color:transparent;
}
.depicter-revert .depicter-9-section-1 .depicter-section-background{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-9-element-146{
	font-size:14px;
	color:#3B61F4;
	font-family:"Poppins";
	font-weight:500;
	line-height:120%;
	text-transform:uppercase;
	background-color:transparent;
}
.depicter-revert .depicter-9-element-145{
	font-size:42px;
	color:#000000;
	font-family:"Poppins";
	font-weight:700;
	line-height:120%;
	letter-spacing:-2px;
	background-color:transparent;
}
.depicter-revert .depicter-9-section-143 .depicter-section-background{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-9-element-164{
	font-size:14px;
	color:#3B61F4;
	font-family:"Poppins";
	font-weight:500;
	line-height:120%;
	text-transform:uppercase;
	background-color:transparent;
}
.depicter-revert .depicter-9-element-163{
	font-size:42px;
	color:#000000;
	font-family:"Poppins";
	font-weight:700;
	line-height:120%;
	letter-spacing:-2px;
	background-color:transparent;
}
.depicter-revert .depicter-9-section-161 .depicter-section-background{
	background-color:#FFFFFF;
}

}
/***** Mobile *****/
@media screen and (max-width: 767px){

.depicter-revert .depicter-9-element-4{
	font-size:13px;
	text-align:center;
	color:#3B61F4;
	font-family:"Poppins";
	font-weight:500;
	line-height:120%;
	text-transform:uppercase;
	background-color:transparent;
}
.depicter-revert .depicter-9-element-3{
	font-size:30px;
	text-align:center;
	color:#000000;
	font-family:"Poppins";
	font-weight:700;
	line-height:120%;
	letter-spacing:-1px;
	background-color:transparent;
}
.depicter-revert .depicter-9-section-1 .depicter-section-background{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-9-element-146{
	font-size:13px;
	text-align:center;
	color:#3B61F4;
	font-family:"Poppins";
	font-weight:500;
	line-height:120%;
	text-transform:uppercase;
	background-color:transparent;
}
.depicter-revert .depicter-9-element-145{
	font-size:30px;
	text-align:center;
	color:#000000;
	font-family:"Poppins";
	font-weight:700;
	line-height:120%;
	letter-spacing:-1px;
	background-color:transparent;
}
.depicter-revert .depicter-9-section-143 .depicter-section-background{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-9-element-164{
	font-size:13px;
	text-align:center;
	color:#3B61F4;
	font-family:"Poppins";
	font-weight:500;
	line-height:120%;
	text-transform:uppercase;
	background-color:transparent;
}
.depicter-revert .depicter-9-element-163{
	font-size:30px;
	text-align:center;
	color:#000000;
	font-family:"Poppins";
	font-weight:700;
	line-height:120%;
	letter-spacing:-1px;
	background-color:transparent;
}
.depicter-revert .depicter-9-section-161 .depicter-section-background{
	background-color:#FFFFFF;
}

}
/*** Custom styles ***/
.depicter-revert .depicter-9-element-51 {
  transform: scale(1.7,2.2);
}
.depicter-revert .depicter-9-element-51:hover {
  color:#72C08E;
  transition:all 0.7s ease;
}
.depicter-revert .depicter-9-element-52 {
  transform: scale(1.7,2.2);
}
.depicter-revert .depicter-9-element-52:hover {
  color:#72C08E;
  transition:all 0.7s ease;
}
.depicter-revert .depicter-9-element-57{
  -webkit-text-stroke: 2px #fff;
}
.depicter-revert .depicter-9-element-154{
  -webkit-text-stroke: 2px #fff;
}
.depicter-revert .depicter-9-element-172{
  -webkit-text-stroke: 2px #fff;
}

